*{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #E5E5E5;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.form-card{
    background: #FFFFFF;
    width: 620px;
    height: 760px;
    border-radius: 20px;
    padding: 20px;
    margin:20px;
}

.header{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header h1{
    font-size: 2.25em;
    font-family: "Inter", sans-serif;
    font-weight: 600;
}

.info-form   {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 25px;
}

.input-field{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    font-family: "Nunito", sans-serif;
    color: #AAAAAA;
    font-size: 14px;
    line-height: 16px;
}

.input-field input{
    height: 40px;
    border: 2px solid #AAAAAA;
    box-sizing: border-box;
    border-radius: 4px;

    font-family: "Nunito", sans-serif;
    color: #AAAAAA;
    font-size: 16px;
    line-height: 18px;
    padding-left: 12px;
}

.name{
    width: 100%;
    margin-bottom: 50px;
}
.email{
    width: 55%;
    min-width: 40%;
    margin-bottom: 40px;
}
.phone{
    margin-bottom: 40px;
}
.password{
    width: 55%;
    min-width: 40%;
    margin-bottom: 100px;
}
.birthday{
    margin-bottom: 100px;
}

.checkbox-terms{
    font-family: "Nunito", sans-serif;
    font-size: 16px;
    line-height: 18px;
}

.checkbox-terms input{
    display: none;
}

.checkbox-terms input + label::before{
    content:"";
    width: 20px;
    height: 20px;
    border-radius: 4px;
    background-color: #FFFFFF;
    border: 1px solid #0DBDBD;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
    cursor: pointer;
}
.checkbox-terms input:checked + label::before{
    background-color: #0DBDBD;
    content:url(../images/Check.svg);
    color: white;
    padding-left: 2px;
    box-shadow: 0 2px 3px #666;
}

.submit-button{
    background-color: #0DBDBD;
    border-radius: 10px;
    padding: 10px;
    margin:0 6px;
    cursor: pointer;

    color: #FFFFFF;
    font-family: "Nunito", sans-serif;
    font-size: 16px;
    line-height: 18px;
}

.submit-button:active{
    background-color: #0c9797;
    box-shadow: 0px 2px 2px #666;
    transform: translateY(3px);
}

.warning{
    margin: 4px;
    color: #d84c4c;
    font-size: 14px;
}

.checkbox-terms .warning{
    margin-top: 10px;
}



.header-sucess{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-sucess h1{
    font-size: 2.25em;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    margin: 50px auto;
}

.back-button{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.back-button a{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 269px;
    height: 177px;
    background: #0DBDBD;
    border-radius: 10px;
    text-decoration: none;

    color: #FFFFFF;
    font-family: "Nunito",sans-serif;
    font-size: 2.25em;
    line-height: 18px;

    cursor: pointer;
}

.back-button a:active{
    transform: translateY(3px);
}

.invisible{
    display:none;
}

@media (max-width: 650px){
    body{
        background: #FFFFFF;
    }
    .form-card{
        min-width: 100%;
        min-height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 0px;
    }
    .info-form{
        margin: 0 30px;
    }

    .input-field input{
        width:100%;
    }

    .name{
        width: 100%;
        margin-bottom: 20px;
        order: -1;
    }
    .email{
        width: 100%;
        min-width: 40%;
        margin-bottom: 20px;
        order: 0;
    }
    .phone{
        width: 55%;
        margin-bottom: 20px;
        margin-right: 5%;
        order: 2;
    }
    .password{
        width: 100%;
        margin-bottom: 20px;
        order: 1;
    }
    .birthday{
        width: 40%;
        margin-bottom: 20px;
        order: 3;
    }
    .checkbox-terms{
        order: 4;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .submit-button{
        order: 5;
        width: 100%;
        margin-top: 20px;
        margin-bottom: 50px;
        font-size: 18px;
        height: 55px;
    }
}